nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 25px;
}

.card {
  border: 1px solid #326ada;
  border-radius: 10px;
  margin-bottom: 10px;
}
.thumbnail:hover {
  filter: drop-shadow(16px 16px 5px grey);
}

body {
  padding: 100px;
  background: url('http://i.imgur.com/T5r4fWd.gif') cover;
}

.card-img-top {
  width: 25rem;
}


.card-title {
  font-size: 1em;
  color: #14171A;
  text-decoration: none;
}

.btn {
  margin-bottom: 20px;
}

#sidebar {
  position: relative;
  top: 10px;

}
